<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93de87">  <td>21/12/27 09:55:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.checkLogin(java.lang.String, java.lang.String)[pri:0, instance:tests.LoginTests@363ee3a2]">checkLogin</td> 
  <td>main@1201484275</td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>21/12/27 09:58:40</td>   <td>168837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.checkLogin(java.lang.String, java.lang.String)[pri:0, instance:tests.LoginTests@363ee3a2]">checkLogin</td> 
  <td>main@1201484275</td>   <td></td> </tr>
<tr bgcolor="a7bc6e">  <td>21/12/27 09:56:23</td>   <td>32305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTests.cleanUp()[pri:0, instance:tests.LoginTests@363ee3a2]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td>  <td>main@1201484275</td>   <td></td> </tr>
<tr bgcolor="a7bc6e">  <td>21/12/27 09:58:43</td>   <td>171510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTests.cleanUp()[pri:0, instance:tests.LoginTests@363ee3a2]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td>  <td>main@1201484275</td>   <td></td> </tr>
<tr bgcolor="a7bc6e">  <td>21/12/27 09:54:36</td>   <td>-74691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTests.setUp()[pri:0, instance:tests.LoginTests@363ee3a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1201484275</td>   <td></td> </tr>
<tr bgcolor="a7bc6e">  <td>21/12/27 09:56:23</td>   <td>32424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTests.setUp()[pri:0, instance:tests.LoginTests@363ee3a2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1201484275</td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>21/12/27 09:55:51</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.setup()[pri:0, instance:tests.LoginTests@363ee3a2]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1201484275</td>   <td></td> </tr>
<tr bgcolor="93de87">  <td>21/12/27 09:58:40</td>   <td>168837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.setup()[pri:0, instance:tests.LoginTests@363ee3a2]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1201484275</td>   <td></td> </tr>
</table>
